<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RetailChannel</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RetailTxn</display-name>
    <servlet-name>RetailTxn</servlet-name>
    <servlet-class>com.onepay.retail.api.RetailTxn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailTxn</servlet-name>
    <url-pattern>/RetailTxn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDetails</display-name>
    <servlet-name>GetDetails</servlet-name>
    <servlet-class>com.onepay.retail.api.GetDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDetails</servlet-name>
    <url-pattern>/GetDetails</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>GetDetailsV2</display-name>
    <servlet-name>GetDetailsV2</servlet-name>
    <servlet-class>com.onepay.retail.api.GetDetailsV2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDetailsV2</servlet-name>
    <url-pattern>/GetDetailsV2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopupAccount</display-name>
    <servlet-name>TopupAccount</servlet-name>
    <servlet-class>com.onepay.retail.api.TopupAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopupAccount</servlet-name>
    <url-pattern>/TopupAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRegistration</display-name>
    <servlet-name>NewRegistration</servlet-name>
    <servlet-class>com.onepay.retail.api.NewRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegistration</servlet-name>
    <url-pattern>/NewRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRegistrationV2</display-name>
    <servlet-name>NewRegistrationV2</servlet-name>
    <servlet-class>com.onepay.retail.api.NewRegistrationV2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegistrationV2</servlet-name>
    <url-pattern>/NewRegistrationV2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagMapping</display-name>
    <servlet-name>TagMapping</servlet-name>
    <servlet-class>com.onepay.retail.api.TagMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagMapping</servlet-name>
    <url-pattern>/TagMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReQueryTxn</display-name>
    <servlet-name>ReQueryTxn</servlet-name>
    <servlet-class>com.onepay.retail.api.ReQueryTxn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReQueryTxn</servlet-name>
    <url-pattern>/ReQueryTxn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inventoryMgmt</display-name>
    <servlet-name>inventoryMgmt</servlet-name>
    <servlet-class>com.onepay.retail.api.inventoryMgmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inventoryMgmt</servlet-name>
    <url-pattern>/inventoryMgmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>reports</display-name>
    <servlet-name>reports</servlet-name>
    <servlet-class>com.wallet.reports.ReportAdminDisplay</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>partnerReports</display-name>
    <servlet-name>partnerReports</servlet-name>
    <servlet-class>com.wallet.reports.ReportPartnerDisplay</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>com.wallet.reports.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reports</servlet-name>
    <url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>partnerReports</servlet-name>
    <url-pattern>/partnerReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPGenerator</display-name>
    <servlet-name>OTPGenerator</servlet-name>
    <servlet-class>com.onepay.retail.api.OTPGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPGenerator</servlet-name>
    <url-pattern>/OTPGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadKycDocs</display-name>
    <servlet-name>DownloadKycDocs</servlet-name>
    <servlet-class>com.onepay.retail.api.DownloadKycDocs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadKycDocs</servlet-name>
    <url-pattern>/DownloadKycDocs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBarCode</display-name>
    <servlet-name>UpdateBarCode</servlet-name>
    <servlet-class>com.onepay.retail.api.UpdateBarCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBarCode</servlet-name>
    <url-pattern>/UpdateBarCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileupload</display-name>
    <servlet-name>fileupload</servlet-name>
    <servlet-class>com.onepay.retail.api.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileupload</servlet-name>
    <url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicle</display-name>
    <servlet-name>AddVehicle</servlet-name>
    <servlet-class>com.onepay.retail.api.AddVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicle</servlet-name>
    <url-pattern>/AddVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadRecon</display-name>
    <servlet-name>DownloadRecon</servlet-name>
    <servlet-class>com.onepay.retail.api.CSVDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadRecon</servlet-name>
    <url-pattern>/DownloadRecon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMSNNSB</display-name>
    <servlet-name>SMSNNSB</servlet-name>
    <servlet-class>com.onepay.retail.api.SMSNNSB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSNNSB</servlet-name>
    <url-pattern>/SMSNNSB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServiceAPI</display-name>
    <servlet-name>EmailServiceAPI</servlet-name>
    <servlet-class>com.onepay.retail.api.EmailServiceAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServiceAPI</servlet-name>
    <url-pattern>/EmailServiceAPI</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SMSHDFC</display-name>
    <servlet-name>SMSHDFC</servlet-name>
    <servlet-class>com.onepay.retail.api.SMSHDFC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSHDFC</servlet-name>
    <url-pattern>/SMSHDFC</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>testname</param-name>
    <param-value>testvalue</param-value>
</context-param>
</web-app>